@font-face {
    font-family: 'et-icon';  /* project id 490080 */
    src: url('//at.alicdn.com/t/font_490080_48kgyzbzchb.eot');
    src: url('//at.alicdn.com/t/font_490080_48kgyzbzchb.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_490080_48kgyzbzchb.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_490080_48kgyzbzchb.woff') format('woff'),
    url('//at.alicdn.com/t/font_490080_48kgyzbzchb.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_490080_48kgyzbzchb.svg#et-icon') format('svg');
}

.et-icon {
    font-family: "et-icon" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-map:before {
    content: "\e67a";
}

.icon-iconset0237:before {
    content: "\e688";
}

.icon-yunxingzhong:before {
    content: "\e633";
}

.icon-view1:before {
    content: "\e6c0";
}

.icon-videocamera:before {
    content: "\e888";
}

.icon-view:before {
    content: "\e6c1";
}

.icon-iconfontzhizuobiaozhun023150:before {
    content: "\e698";
}

.icon-hongfaqi:before {
    content: "\e7d0";
}

.icon-youjiantou-copy:before {
    content: "\e692";
}

.icon-shanchu:before {
    content: "\e66a";
}

.icon-zuojiantou2:before {
    content: "\e923";
}

.icon-zuojiantou:before {
    content: "\e63a";
}

.icon-daoluyongdu:before {
    content: "\e616";
}

.icon-caozuo_xuandian_dingwei:before {
    content: "\e6b5";
}

.icon-wheel:before {
    content: "\e61a";
}

.icon-zuojiantou1:before {
    content: "\e623";
}

.icon-cheliangleixing:before {
    content: "\e617";
}

.icon-data:before {
    content: "\e6a2";
}

.icon-tuceng:before {
    content: "\e600";
}

.icon-kujialeqiyezhan_mohutuozhuaichicun:before {
    content: "\e647";
}

.icon--jiaotonggongju-:before {
    content: "\e67b";
}

.next-nav.next-primary .next-nav-item.next-menu-item {
    background-color: #333 !important;
}
